<div class="main">
    <div *ngIf="mode" class="dictionary">
        <div *ngFor="let fragment of dictionary" class="section-date">
            <div class="section-date">{{fragment.timestamp}}</div>
            <div *ngFor="let item of fragment.words" class="section-word">
                <div class="section-word">{{item.origin}} - {{item.translate}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="!mode">
        <textarea cols="80" rows="11" placeholder="Enter dictionary fragment" [formControl]="fragment"></textarea>
    </div>
</div>
<button (click)="toogleMode()">{{buttonText}}</button>
