<div class="command-panel">
        <a class="command command-place">Назад</a>
        <div class="command command-place">Файл</div>
        <div class="command command-place"></div>
</div>
<form class="settings-panel">
    <p class="settings-panel__header">Настройки загрузки</p>
    <label class="settings-panel__header-mode"><input type="radio" name="mode" value="auto">Авто</label>
    <label class="settings-panel__header-mode"><input type="radio" name="mode" value="manual">Ручные</label>
    <div class="settings-panel__header__manual">
        <!--<label class="settings-panel__header__manual-sheet">Лист:<select class="settings-panel__header__manual-sheet-select" size="1" name="sheet">
            <option>Лист1</option>
            <option>Лист2</option>
            <option>Лист3</option>
            <option>Лист4</option>
        </select></label>-->
        <label class="settings-panel__header__manual-param-header-1">Начальная строка данных:</label><input class="settings-panel__header__manual-param-value-1" type="number">
        <label class="settings-panel__header__manual-param-header-2">Конечная строка данных:</label><input class="settings-panel__header__manual-param-value-2" type="number">
        <label class="settings-panel__header__manual-param-header-3">Столбец Артикула:</label><input class="settings-panel__header__manual-param-value-3" type="number">
        <label class="settings-panel__header__manual-param-header-4">Столбец Количеств:</label><input class="settings-panel__header__manual-param-value-4" type="number">
    </div>
</form>
<div class="actions-panel">

</div>
<div class="messages-panel">

</div>
