:host {
    display: grid;
    grid-template-areas: 
        "commands"
        "orders"
        "options";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    height: 100%;
}
.command-panel {
    grid-area: commands;
    justify-self: start;
    align-self: start;
    padding-top: 4vh;
    padding-left: 4vw;
    padding-bottom: 4vh;
}
.command {
    font-size: 2em; /*24px; context 12px*/
    color: #000;
    cursor: pointer;
}
.command-place {
    display: inline-block;
    padding-right: 4vw;
}
.orders-list {
    grid-area: orders;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}
.orders-list__order {
    margin: 0 4vw 0 3vw;
    padding: 1vh 0 1vh 1vw;
}
.orders-list__order:nth-child(odd) {
    background-color:#ECECEC;
}
.orders-list__order-current {
    background-color: cornsilk !important;
}
.orders-list__order-id {
    font-size: 1.5em;
    cursor: pointer;
}
.orders-list__order-id-place {
    display: inline-block;
}
.orders-list__order-id-active {
    font-weight: normal;
}
.orders-list__order-id:hover {
    color: black;
}
.orders-list__order-attr {
    font-size: 1.5em;
}
.orders-list__order-attr-place {
    display: inline-block;
    margin-left: 1vw;
}

.orders__options {
    grid-area: options;
    padding: 4vh 0 4vh 4vw;
}
.orders__options-open-mode {
    font-size: 1.5em; /*24px; context 12px*/
}
/*
    Custom CheckBox
    https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
*/
.checkbox-custom__container {
    position: relative;
    padding-left: 2vw;
    user-select: none;
}
.checkbox-custom__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;    
}
.checkbox-custom__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin-right: 1vw;
    background-color: #eee;
}
.checkbox-custom__container:hover input ~ .checkbox-custom__checkmark {
    background-color: #ccc;
}
.checkbox-custom__input:checked ~ .checkbox-custom__checkmark {
    background-color: #2196F3 !important;
} 
.checkbox-custom__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-custom__input:checked ~ .checkbox-custom__checkmark:after {
    display: block;
} 
.checkbox-custom__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
