<div class="command-panel">
    <a class="command command-place">Главная</a>
    <a [routerLink]="['/EditOrder']" class="command command-place">Редактировать</a>
    <a class="command command-place">О заказе</a>
</div>
<div class="orders-list">
    <div class="orders-list__order" *ngFor="let order of (ordersActiveCommunicationService.ordersResponse | async)" (click)="setCurrentOrderId(order.OrderID)" [attr.orderId]="order.OrderID" [ngClass]="{'orders-list__order-current': order.OrderID == (getCurrentOrderId$ | async)}">
        <span class="orders-list__order-id orders-list__order-id-place orders-list__order-id-active">{{order.OrderID | orderNumber}}</span>
        <span class="orders-list__order-attr orders-list__order-attr-place">{{order.SumValue | number: "1.2-2"}}</span>
        <span class="orders-list__order-attr orders-list__order-attr-place">{{order.SumCurrency}}</span>
        <span class="orders-list__order-attr orders-list__order-attr-place">{{order.UserName}}</span>
        <span class="orders-list__order-attr orders-list__order-attr-place">{{order.CustomerRefNo}}</span>
        <span class="orders-list__order-attr orders-list__order-attr-place">{{order.CustomerComments}}</span>
    </div>
</div>
<div class="orders__options">
    <label class="orders__options-open-mode orders__options-open-mode-place checkbox-custom__container">
        <input type="checkbox" class="checkbox-custom__input" [formControl]="ctrlSeparateMode">
        <span class="checkbox-custom__checkmark"></span>
        Открывать заказ в отдельном окне
    </label>
</div>
