<div class="card card-place">
    <a [routerLink]="['/create']"><span class="card-icon card-icon-place"></span></a>
    <a [routerLink]="['/create']" class="card-item card-item-place">Создать&nbsp;заказ</a>
    <p class="card-text card-text-place">
        Создание заказа. Загрузка из файлов Microsoft&copy;&nbsp;Excel&trade;. Формирование
        заказов в ручном режиме. Блокирование заказов
    </p>
</div>
<div class="card card-place">
    <a [routerLink]="['/active']"><span class="card-icon card-icon-place"></span></a>
    <a [routerLink]="['/active']" class="card-item card-item-place">Активные&nbsp;заказы</a>
    <p class="card-text card-text-place">
        Просмотр активных заказов: находящиеся в режиме редактирования, неблокированные и
        непринятые отделом логистики
    </p>
</div>
<div class="card card-place">
    <a [routerLink]="['/history']"><span class="card-icon card-icon-place"></span></a>
    <a [routerLink]="['/history']" class="card-item card-item-place">История&nbsp;заказов</a>
    <p class="card-text card-text-place">
        Просмотр истории заказов. Поиск заказов по значениям атрибутов и по вхождению
        товарных позиций
    </p>
</div>
