<p class="about"><strong class="about-strong">B2B-X</strong> является техническим приложением
WEB-портала группы компаний <a class="about-link" target="_blank" href="http://www.legion.ru">Legion&reg;</a> и предназначено
для автоматической загрузки и размещения заказов
оптовых покупателей. Загрузка спецификаций заказов
осуществляется из предоставляемых пользователем файлов
формата Microsoft&reg;&nbsp;Excel&trade; (xls, xlsx). Данное приложение реализовано
с использованием программных средств Microsoft&reg;&nbsp;SQL&nbsp;Server&trade;, Angular&reg;, node.js&reg; и Express&reg;.
</p>
