<div class="command-panel">
    <a class="command command-place">Загрузить из файла</a>
    <a class="command command-place">Редактировать</a>
</div>
<div class="order-load-status">
    <div class="file-load-status">
        <p class="file-load-status__ico file-load-status__ico-place file-load-status__ico-active">&#9888;</p>
        <p class="file-load-status__file-path file-load-status__file-path-place file-load-status__file-path-active">C:\Orders\Legion\Order_1234.xls</p>
    </div>
    <div class="file-load-status">
        <p class="file-load-status__ico file-load-status__ico-place file-load-status__ico-active">&#9888;</p>
        <p class="file-load-status__file-path file-load-status__file-path-place file-load-status__file-path-active">C:\Orders\Legion\Order_1234.xls</p>
    </div>
    <div class="file-load-status">
        <p class="file-load-status__ico file-load-status__ico-place file-load-status__ico-active">&#9888;</p>
        <p class="file-load-status__file-path file-load-status__file-path-place file-load-status__file-path-active">C:\Orders\Legion\Order_1234.xls</p>
    </div>
    <div class="file-load-status">
        <p class="file-load-status__ico file-load-status__ico-place file-load-status__ico-active">&#9888;</p>
        <p class="file-load-status__file-path file-load-status__file-path-place file-load-status__file-path-active">C:\Orders\Legion\Order_1234.xls</p>
    </div>
    <div class="file-load-status">
        <p class="file-load-status__ico file-load-status__ico-place file-load-status__ico-active">&#10004;</p>
        <p class="file-load-status__file-path file-load-status__file-path-place file-load-status__file-path-active">C:\Orders\Legion\Order_1234.xls</p>
    </div>
    <div class="file-load-status">
        <p class="file-load-status__ico file-load-status__ico-place file-load-status__ico-active">&#10004;</p>
        <p class="file-load-status__file-path file-load-status__file-path-place file-load-status__file-path-active">C:\Orders\Legion\Order_1234.xls</p>
    </div>
    <div class="file-load-status">
        <p class="file-load-status__ico file-load-status__ico-place file-load-status__ico-active">&#10004;</p>
        <p class="file-load-status__file-path file-load-status__file-path-place file-load-status__file-path-active">C:\Orders\Legion\Order_1234.xls</p>
    </div>
    <div class="file-load-status">
        <p class="file-load-status__ico file-load-status__ico-place file-load-status__ico-active">&#10004;</p>
        <p class="file-load-status__file-path file-load-status__file-path-place file-load-status__file-path-active">C:\Orders\Legion\Order_1234.xls</p>
    </div>
</div>
<a class="file_errors-report">File loading errors report</a>
