<div class="command-panel">
    <a [routerLink]="['/import']" class="command command-place">Загрузить из файла</a>
    <a class="command command-place">Редактировать</a>
</div>
<div class="order-files">
    <div class="file-load-status" *ngFor="let file of orderFiles$ | async; let key = index" (click)="setCurrentFile(key)" [attr.key]="key" [ngClass]="{'file-load-status-current': key == getCurrentFile()}">
        <p class="file-load-status__ico file-load-status__ico-place file-load-status__ico-active file-load-status__ico-ok" *ngIf="!file.ErrorStatus">&#10004;</p>
        <p class="file-load-status__ico file-load-status__ico-place file-load-status__ico-active file-load-status__ico-failed" *ngIf="file.ErrorStatus">&#9888;</p>
        <p class="file-load-status__file-path file-load-status__file-path-place file-load-status__file-path-active">{{file.FileName}}</p>
    </div>
</div>
<div class="errors-report">
    <a class="file_errors-report">File loading errors report</a>
    <label class="hide-failed-files hide-failed-files-place checkbox-custom__container">
        <input type="checkbox" class="checkbox-custom__input" [formControl]="hideFailed">
        <span class="checkbox-custom__checkmark"></span>
        <span class="checkbox-custom__label">Скрыть файлы с ошибками</span>
    </label>
</div>
