.main {
    position: relative;
    margin: 10px;
}
input[type="text"] {
    box-sizing:border-box;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(210, 210, 210);
    background-color: rgb(240, 240, 240);
    color: black;
    text-align: center;
}
input[type="submit"] {
    border: none;
    margin-top: 10px;
    width: 100%;
    height: 25px;
    background-color: lightseagreen;
    color: white;
    border-radius: 4px;
}
p {
    width: 100%;
    margin-top: 45px;
    text-align: center;
    vertical-align: center;
}
