<div class="main">
    <div class="section-date">1 мая 2017</div>
    <div class="section-word">to apply - добавлять</div>
    <div class="section-word">education - образование</div>
    <div class="section-word">to go - идти</div>
    <div class="section-word">responsible - ответственный</div>
    <div class="section-date">2 мая 2017</div>
    <div class="section-word">green - зелёный</div>
    <div class="section-word">red - красный</div>
    <div class="section-word">black - чёрный</div>
    <div class="section-word">white - белый</div>
    <div class="section-date">4 мая 2017</div>
    <div class="section-word">school - школа</div>
    <div class="section-word">bus - автобус</div>
    <div class="section-word">car - автомобиль</div>
    <div class="section-word">train - поезд</div>
    <div class="section-date">10 мая 2017</div>
    <div class="section-word">book - книга</div>
    <div class="section-word">paper - бумага</div>
    <div class="section-word">copybook - тетрадь</div>
    <div class="section-word">pencil - карандаш</div>
    <div class="section-date">20 мая 2017</div>
    <div class="section-word">room - комната</div>
    <div class="section-word">house - дом</div>
    <div class="section-word">street - улица</div>
    <div class="section-word">city - город</div>
    <div class="section-word">summer cottage - дача</div>
    <div class="section-word">road - дорога</div>
</div>
<button>Add New</button>
