:host {
    grid-area: content;
}
.username {
    margin-top: 4vh;
    font-family: inherit;
    font-size: 1.5em;
    text-align: center;
}
.profile {
    margin-top: 2vh;
}
::placeholder {
    color: #BBB;
    opacity: 1;
}
.profile__input {
    display: block;
    width: 13.75em; /*220px; context 16px*/
    height: 2.125em; /*34px; context 16px*/
    font-family: inherit;
    font-size: 0.875em; /*14px; context 16px*/;
    padding: 0.375em 0.25em 0.375em 0.25em; /*6px 4px 6px 4px; context 16px*/
    box-sizing: border-box;
    border: 1px solid #DFDFDF;
    text-align: center;
}
.profile__input-place {
    display: block;
    margin: 0 auto 0.6875em auto; /*11px; context 16px*/;
}
.profile__button {
    width: 13.75em; /*220px; context 16px*/
    height: 2.125em; /*34px; context 16px*/
    font-family: inherit;
    font-size: 0.875em; /*14px; context 16px*/;
    background-color: #EAEAEA;
    color: #888;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
}
.profile__button-place {
    display: block;
    margin: 0 auto 0.625em auto; /*10px; context 16px*/;
}
.profile__button-place:hover {
    color: #000 !important;
}
.profile__button-place:active:hover {
    color: #FFF !important;
    background-color:#000 !important;
}
