<div class="command-panel">
    <a [routerLink]="['']" class="command command-place">Главная</a>
    <a [routerLink]="['/active']" class="command command-place">Активные</a>
    <a class="command command-place"(click)="toogleDialog(2)">Блокировать</a>
    <a class="command command-place" (click)="toogleDialog(1)">Добавить</a>
    <a [routerLink]="['/import']" class="command command-place">Загрузить из файла</a>
</div>
<span class="order__number">Заказ {{(getCurrentOrderId$ | async) | orderNumber}}</span>
<div class="order__header">
    <span class="order-attr">Блокирован. Заявка на отгрузку 01.01.2019 Самовывоз. Принят в обработку отделом логистики</span>
    <span class="order-attr">Санкт-Петербург Большой Сампсониевский пр., д.1 корпус 1 Литера А</span>
    <input class="order-attr__input order-attr__input-refno" placeholder="Ваш исх. номер" [value]="getCurrentOrderRefNo$ | async">
    <input class="order-attr__input order-attr__input-comments" placeholder="Ваш комментарий" [value]="getCurrentOrderComments$ | async">
</div>
<div class="order__details">
    <div class="order__details__header">
        <span class="order__details__row-attr order__details__row-attr-place attr-action attr-header">...</span>
        <span class="order__details__row-attr order__details__row-attr-place attr-source attr-header">...</span>
        <span class="order__details__row-attr order__details__row-attr-place attr-quantity attr-header">Кол</span>
        <span class="order__details__row-attr order__details__row-attr-place attr-price attr-header">Цена</span>
        <span class="order__details__row-attr order__details__row-attr-place attr-weight attr-header">W,kg</span>
        <span class="order__details__row-attr order__details__row-attr-place attr-volume attr-header">V,m<span style="vertical-align: super; font-size: 0.75em;">3</span></span>
        <span class="order__details__row-attr order__details__row-attr-place attr-article attr-header">Артикул</span>
        <span class="order__details__row-attr order__details__row-attr-place attr-name attr-header attr-header-name">Наименование</span>
    </div>
    <div class="order__details__rows">
        <!--<div class="orders-list__order" *ngFor="let order of (ordersActiveCommunicationService.ordersResponse | async)" (click)="setCurrentOrderId(order.OrderID)" [attr.orderId]="order.OrderID" [ngClass]="{'orders-list__order-current': order.OrderID == (getCurrentOrderId$ | async)}">-->
        <div class="order__details__rows-row" *ngFor="let item of getCurrentOrderDetails$ | async" (click)="setCurrentOrderDetailsId(item.DetailsID)" [attr.orderDetailsId]="item.DetailsID" [ngClass]="{'order__details__rows-row-current': item.DetailsID == (getCurrentOrderDetailsId$ | async), 'order__details__rows-row-deleted': item.Deleted}">
            <span class="order__details__row-attr order__details__row-attr-place attr-source">&#9741;</span>
            <span *ngIf="!item.Deleted" class="order__details__row-attr order__details__row-attr-place attr-action">&#9986;</span>
            <span *ngIf="item.Deleted" class="order__details__row-attr order__details__row-attr-place attr-action">&#9735;</span>
            <span class="order__details__row-attr order__details__row-attr-place attr-quantity">{{item.Quantity | number: "1.0-0"}}</span>
            <span class="order__details__row-attr order__details__row-attr-place attr-price">{{item.UnitPrice | number: "1.2-2"}}</span>
            <span class="order__details__row-attr order__details__row-attr-place attr-weight">{{item.UnitWeight | number: "1.1-1"}}</span>
            <span class="order__details__row-attr order__details__row-attr-place attr-volume">{{item.UnitVolume | number: "1.2-2"}}</span>
            <span class="order__details__row-attr order__details__row-attr-place attr-article">{{item.PartID}}</span>
            <span class="order__details__row-attr order__details__row-attr-place attr-name">{{item.PartName}}</span>
        </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <!--</div>-->
    </div>
    <div class="order__details__footer">
        <span class="order__details__row-attr order__details__row-attr-place attr-action attr-footer">1</span>
    </div>
</div>
<div class="order__options">
    <label class="order__options-deleted-mode orders__options-deleted-mode-place checkbox-custom__container">
        <input type="checkbox" class="checkbox-custom__input" [formControl]="ctrlDeletedMode" (change)="viewDeletedDetails($event)">
        <span class="checkbox-custom__checkmark"></span>
        Отображать удалённые строки
    </label>
</div>
<div class="dialog-add" [ngClass]="{'dialog-add-active': typeDialogActive === 1}">
    <div class="dialog-add__search">
        <input type="text" class="dialog-add__input" placeholder="Ведите строку поиска" [formControl]="ctrlSearchPattern">
        <button class="dialog-add__button" (click)="searchArticles()">Найти</button>
        <button class="dialog-add__button" (click)="resetPattern()">Сбросить</button>
    </div>
    <div class="dialog-add__results">
        <div class="dialog-add__results__row" *ngFor="let item of getArticlesSearchResults$ | async" [attr.materialId]="item.MaterialID" (click)="setCurrentSearchMaterialId(item.MaterialID)" [ngClass]="{'dialog-add__results__row-current': item.MaterialID === (getCurrentSearchMaterialId())}">
            <span class="dialog-add__results__row-attr dialog-add__results__row-attr-place dialog-add__results__row-attr-manufpartid">{{item.ManufactPartID}}</span>
            <span class="dialog-add__results__row-attr dialog-add__results__row-attr-place dialog-add__results__row-attr-partid">{{item.PartID}}</span>
            <span class="dialog-add__results__row-attr dialog-add__results__row-attr-place dialog-add__results__row-attr-partname">{{item.PartName}}</span>
        </div>                                                                                                                                                                                                                                                                                                                                                                            
    </div>
    <div class="dialog-add__commands">
        <input type="number" class="dialog-add__input" placeholder="Ведите количество" [formControl]="ctrlArticleQuantity">
        <button class="dialog-add__button" (click)="addArticleToOrder()">Добавить</button>
    </div>
</div>
<div class="dialog-block" [ngClass]="{'dialog-block-active': typeDialogActive === 2}">

</div>
<div class="dialog-place" [ngClass]="{'dialog-place-active': typeDialogActive === 3}">

</div>
