:host {
    grid-area: content;
    display: grid;
    grid-template-areas: 
        "commands"
        "number"
        "header"
        "details"
        "options";
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    height: 100%;
    font-size: 12px; /* Context */
    position: relative;
}
.command-panel {
    grid-area: commands;
    justify-self: start;
    align-self: start;
    margin-top: 4vh;
    margin-left: 4vw;
}
.command {
    font-size: 2em; /*24px; context 12px*/
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
.command:hover {
    color: #FCAC45;
}
.command:hover:active {
    color: #000;
}
.command-place {
    display: inline-block;
    padding-right: 4vw;
}
.order__number {
    grid-area: number;
    display: block;
    font-size: 2em;
    margin-top: 2.75vh;
    margin-left: 4vw;
    margin-bottom: 0;
}
.order__header {
    grid-area: header;
    margin-top: 1vh;
    margin-left: 4vw;
}
.order-attr{
    display: block;
    font-size: 1.25em;
    margin-top: 0.75vh;
}
.order-attr__input {
    font: inherit;
    font-size: 1.25em;
    color: #000;
    padding: 0.25em;
    margin-top: 1vh;
    border: 1px solid #DFDFDF;
}
.order-attr__input-refno {
    width: 8em;
    margin-right: 0.5vw;
}
.order-attr__input-comments {
    width: calc(100% - 11em);
}
::placeholder {
    color: #BCBCBC;
}
.order__details {
    grid-area: details;
    display: grid;
    grid-template-areas:
        "header"
        "rows"
        "footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 14px; /* context */
    height: 100%;
}
.order__details__header {
    grid-area: header;
    margin: 1vh 2vw 0 4vw;
    padding: 0.75vh 0 0.75vh 0;
    overflow: hidden;
    background-color: #BCBCBC;
    white-space: nowrap;
}
.order__details__footer{
    grid-area: footer;
    margin: 1vh 2vw 0 4vw;
    padding: 0.75vh 0 0.75vh 0;
    overflow: hidden;
    background-color: #BCBCBC;
    white-space: nowrap;
}
.order__details__rows {
    grid-area: rows;
    margin: 0.25vh 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}
.order__details__rows-row {
    margin: 0 2vw 0 4vw;
    padding: 0.2vh 0 0.2vh 0;
    overflow: hidden;
}
.order__details__rows-row:nth-child(odd) {
    background-color: #fff;
}
.order__details__rows-row:nth-child(even) {
    background-color: #F4F4F4;
}
.order__details__rows-row-current {
    background-color: cornsilk !important;
}
.order__details__row-attr {
    font-size: 1em;
    line-height: normal;
}
.order__details__row-attr-place {
    display: inline-block;
    margin-left: 1em;
}
.attr-action {
    width: 1.25em;
    color: #BCBCBC;
    font-size: 1.25em;
    text-align: center;
    cursor: pointer;
}
.attr-action:hover {
    color: #FCAC45;
}
.attr-action:hover:active {
    color: #000;
}
.attr-source {
    width: 1.25em;
    color: #BCBCBC;
    font-size: 1.25em;
    text-align: center;
    cursor: pointer;
}
.attr-source:hover {
    color: #FCAC45;
}
.attr-source:hover:active {
    color: #000;
}
.attr-quantity {
    width: 2em;
    text-align: center;
}
.attr-price {
    width: 5.25em;
    text-align: center;
}
.attr-weight {
    width: 2.75em;
    color: #888;
    text-align: center;
}
.attr-volume {
    width: 2.5em;
    color: #888;
    text-align: center;
}
.attr-article {
    width: 20em;
    overflow: hidden;
    vertical-align: bottom;
}
.attr-name {
    width: auto;
    overflow: hidden;
    vertical-align: bottom;
}
.attr-header {
    background-color: #BCBCBC;
    text-align: center
}
.attr-header-name {
    text-align: left;
}
.attr-footer {
    background-color: #BCBCBC;
}
/* 
    Dialog AddNew order postion
*/
.dialog-add {
    visibility: hidden;
    display: grid;
    grid-template-areas: 
        "search"
        "results"
        "commands";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    left: 10vw;
    right: 10vw;
    background-color: #FEFEFE;
    border: 1px solid #BCBCBC;
    border-radius: 2px;
    padding: 2vh 2vw 1vh 2vw;
}
.dialog-add-active {
    visibility: visible;
}
.dialog-add__search {
    grid-area: search;
}
.dialog-add__results {
    grid-area: results;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 2vh 0 0 0;
    white-space: nowrap;
}
.dialog-add__commands {
    grid-area: commands;
    overflow: hidden;
    margin: 2vh 0 0 0;
    white-space: nowrap;
}
.dialog-add__input {
    font: inherit;
    font-size: 1.25em;
    color: #000;
    padding: 0.25em;
    border: 1px solid #DFDFDF;
}
.dialog-add__button {
    display: inline-block;
    font-size: 1.25em;
    padding: 0.25em;
    width: 5.75em;
    margin-left: 1vw;
    background-color: #EAEAEA;
    color: #888;
    border: 1px solid #DFDFDF;
}
.dialog-add__button:hover {
    color: #000 !important;
}
.dialog-add__button:active:hover {
    color: #FFF !important;
    background-color:#000 !important;
}
.dialog-add__results__row {
    margin: 0 2vw 0 0;
    padding: 0.2vh 0 0.2vh 0;
    overflow: hidden;
}
.dialog-add__results__row:nth-child(even) {
    background-color: #F4F4F4;
}
.dialog-add__results__row-current {
    background-color: cornsilk !important;
}
.dialog-add__results__row-attr {
    font-size: 1.166666666666667em;
    line-height: normal;
    overflow: hidden;
}
.dialog-add__results__row-attr-place {
    display: inline-block;
    margin-right: 1vw;
}
.dialog-add__results__row-attr-partid {
    width: 18em;
}
.dialog-add__results__row-attr-manufpartid {
    width: 7.5em;
}
.dialog-add__results__row-attr-partname {
    width: auto;
}
/* 
    Dialog blocking Order
*/
.dialog-block {
    display: grid;
    visibility: hidden;
    position: absolute;
    top: 20vh;
    bottom: 20vh;
    left: 20vw;
    right: 20vw;
    background-color: #FEFEFE;
    border: 1px solid #BCBCBC;
    border-radius: 2px;
}
.dialog-block-active {
    visibility: visible;
}
.order__options {
    grid-area: options;
    padding: 4vh 0 4vh 4vw;
}
.order__options-deleted-mode {
    font-size: 1.5em; /*24px; context 12px*/
}
/*
    Custom CheckBox
    https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
*/
.checkbox-custom__container {
    position: relative;
    padding-left: 2vw;
    user-select: none;
}
.checkbox-custom__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;    
}
.checkbox-custom__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin-right: 1vw;
    background-color: #eee;
}
.checkbox-custom__container:hover input ~ .checkbox-custom__checkmark {
    background-color: #ccc;
}
.checkbox-custom__input:checked ~ .checkbox-custom__checkmark {
    background-color: #2196F3 !important;
} 
.checkbox-custom__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-custom__input:checked ~ .checkbox-custom__checkmark:after {
    display: block;
} 
.checkbox-custom__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
