:host {
    display: grid;
    grid-template-areas: 
        "commands"
        "orders";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    height: 100%;
}
::placeholder {
    color: #BBB;
    opacity: 1;
}
.orders-history__commands {
    grid-area: commands;
}
.orders-history__input {
    width: 25em;
    height: 2.428571428571429em; /*34px;*/
    font-family: inherit;
    font-size: 1.166666666666667em; /*14px*/;
    padding: 0.4285714285714286em 0.2857142857142857em 0.4285714285714286em 0.2857142857142857em; /*6px 4px 6px 4px;*/
    box-sizing: border-box;
    border: 1px solid #DFDFDF;
    text-align: left;
}
.orders-history__input-place {
    display: inline-block;
    margin: 4vh 1vh 0 2vh;
}
.orders-history__input:active {
    color: #000;
}
.orders-history__button {
    width: 7em;
    height: 2.428571428571429em; /*34px;*/
    font-family: inherit;
    font-size: 1.166666666666667em; /*14px*/;
    background-color: #EAEAEA;
    color: #888;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
}
.orders-history__button-place {
    display: inline-block;
    margin: 0 1vw 0 0.15vw;
}
.orders-history__button-place:hover {
    color: #000 !important;
}
.orders-history__button-place:active:hover {
    color: #FFF !important;
    background-color:#000 !important;
}
.orders-history__list {
    grid-area: orders;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    background-color: red;
}
.orders-history__list-year {
    font-size: 1.5em;
    margin: 2vh 2vw 0 2vw;
    background-color: #FAFAFA;;
    background-color:lightgreen;
}
.orders-history__list-year-header {
    display: inline-block;
    font-size: 1em;
}
.orders-history__list-week {
    font-size: 1em;
    padding: 1vh 0 0 2vw;
}
.orders-history__list-week-header {
    display: inline-block;
    font-size: 1em;
}
.orders-history__list-order {
    font-size: 1em;
    padding: 1vh 0 1vh 1vw;
    background-color: lightblue;
}
.orders-history__list-order-header {

}
.orders-history__list-order:nth-child(odd) {
    background-color:#ECECEC;
}
