:host {
    grid-area: content;
    display: grid;
    grid-template-areas: 
        "commands"
        "orders"
        "options";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    height: 100%;
    font-size: 12px; /* Context */
}
::placeholder {
    color: #BBB;
    opacity: 1;
}
.orders-history__commands {
    grid-area: commands;
    margin-bottom: 2vh;
}
.orders-history__input {
    width: 25em;
    height: 2.428571428571429em; /*34px; context 24px*/
    font-family: inherit;
    font-size: 1.166666666666667em; /*14px*/;
    padding: 0.4285714285714286em 0.2857142857142857em 0.4285714285714286em 0.2857142857142857em; /*6px 4px 6px 4px;*/
    box-sizing: border-box;
    border: 1px solid #DFDFDF;
    text-align: left;
}
.orders-history__input-place {
    display: inline-block;
    margin: 4vh 1vh 0 2vh;
}
.orders-history__input:active {
    color: #000;
}
.orders-history__button {
    width: 7em;
    height: 2.428571428571429em; /*34px;*/
    font-family: inherit;
    font-size: 1.166666666666667em; /*14px*/;
    background-color: #EAEAEA;
    color: #888;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
}
.orders-history__button-place {
    display: inline-block;
    margin: 0 1vw 0 0.15vw;
}
.orders-history__button-place:hover {
    color: #000 !important;
}
.orders-history__button-place:active:hover {
    color: #FFF !important;
    background-color:#000 !important;
}
.orders-history__list {
    grid-area: orders;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}
.orders-history__list-year {
    font-size: 1.5em;
    background-color: #FAFAFA;;
}
.orders-history__list-year-header {
    display: inline-block;
    font-size: 2em;
    padding: 2vh 0 2vh 3vw;
}
.orders-history__list-week {
    padding: 0 0 0 2vw;
}
.orders-history__list-week-header {
    display: inline-block;
    background-color:#E2E2E2;
    width: 100%;
    padding: 1vh 0 1vh 1vw;
}
.orders-history__list-order {
    padding: 1vh 0 1vh 1vw;
}
.orders-history__list-order-header {
    display: inline-block;
    cursor: pointer;
}
.orders-history__list-order-attr {
    font-size: 0.85em;
    padding-left: 1vw;
}
.orders-history__list-order-attr-place {
    display: inline-block;
}
.orders-history__list-order:nth-child(odd) {
    background-color:#F2F2F2;
}
.order-history__options {
    grid-area: options;
    padding: 4vh 0 4vh 4vw;
}
.order-history__options-open-mode {
    font-size: 1.5em; /*24px; context 12px*/
}
/*
    Custom CheckBox
    https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
*/
.checkbox-custom__container {
    position: relative;
    padding-left: 2vw;
    user-select: none;
}
.checkbox-custom__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;    
}
.checkbox-custom__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin-right: 1vw;
    background-color: #eee;
}
.checkbox-custom__container:hover input ~ .checkbox-custom__checkmark {
    background-color: #ccc;
}
.checkbox-custom__input:checked ~ .checkbox-custom__checkmark {
    background-color: #2196F3 !important;
} 
.checkbox-custom__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-custom__input:checked ~ .checkbox-custom__checkmark:after {
    display: block;
} 
.checkbox-custom__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
